$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-size: $font-size;
  color: $font-color;
}
#root {
	display: none;
}
li {
	text-decoration: none;
	list-style: none;
}
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	margin: 0;
	position: relative;
}
#simulateur {
	width: 100vw;
	height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 10px solid #233658;
}


/* canvas {
	display: block;
	width: 100%;
	height: 50%;
/* 	@media (min-width: 375px) {
		display: block;
		width: 690px;
		height: 800px;
	}
	@media (min-width: 992px) {
		display: block;
		width: 700px;
		height: 975px;
	} */


.menu {
	width: 100vw;
	height: 500px;
	z-index: 1;
	background-color: white;
	/* top: -100px; */
	border-radius: 15px;
	position: absolute;
	top: 85%;
	display: none;
}
.onglet {
	display: flex;
}
.casque, .menton, .visiere {
	width: 100vw;
	height: 500px;
	z-index: 1;
	background-color: white;
	border-radius: 15px;
	position: absolute;
	top: 85%;
	border-top: 2px solid #233658;
	display: flex;
	justify-content: center;
}
.casque {
	z-index: 3;
}
.menton {
	z-index: 2;
	background-color: #f1f1f2;
}
.visiere {
	z-index: 1;
	background-color: #f1f1f2;
}
.casque > .titreOnglet {
	left: 150px;
	cursor: pointer;
	text-align: center;
	& > span {
		position: relative;
		top: -10px;
	}
}
.menton > .titreOnglet {
	left: 320px;
	cursor: pointer;
	text-align: center;
	background-color: #8f9194;
	& > span {
		position: relative;
		top: -10px;
		color: grey;
	}
}
.visiere > .titreOnglet {
	left: 485px;
	cursor: pointer;
	text-align: center;
	background-color: #8f9194;
	& > span {
		position: relative;
		top: -10px;
		color: grey;
	}
	&::after {
		background: #f1f1f2;
	}
}
span.titreOnglet {
	display: block;
	color: #233658;
	text-transform: uppercase;
	position: absolute;
	top: -25px;
	background: white;
	padding: 1rem;
	border-radius: 19px;
	border-top: 2px solid #233658;
	width: 150px;
}
.titreOnglet:before {
	content: '';
	background: #f1f1f2;
	width: 26px;
	position: absolute;
	bottom: 29px;
	height: 17px;
	border-right: 2px solid #233658;
	left: -22px;
	border-radius: 0 0 50% 0;
	box-shadow: 14px 4px 0 #fff;
}
.titreOnglet::after {
	content: '';
	background: transparent;
	width: 26px;
	position: absolute;
	bottom: 27px;
	height: 17px;
	border-left: 2px solid #233658;
	right: -22px;
	box-shadow: -13px 15px 0 #fff;
	border-radius: 0 50% 0;
}
.barreElement {
	display: block;
	background-color: rgb(179, 176, 176);
	margin: 5px auto;
	width: 100px;
	height: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.menu--open {
	top: 50%;
}

.colorPickerTitle {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: block;
	color: #183679;
}
.elementChoice {
	display: flex;
	justify-content: center;
	align-items: center;
}
.elementPicker {
	width: 200px;
	margin: 0 2rem;
	text-align: center;
	color: #183679;
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize;
}
.left {
	width: 20px;
	height: 2px;
	background: #183679;
	display: block;
	cursor: pointer;
	margin: auto;
	position: relative;
	transform: rotate(-45deg);
	&::after {
		content: '';
		width: 20px;
		height: 2px;
		background: #183679;
		display: block;
		cursor: pointer;
		margin: auto;
		transform: translate(-10px, 10px) rotate(90deg);
	}
}

.right {
	width: 20px;
	height: 2px;
	background: #183679;
	display: block;
	cursor: pointer;
	margin: auto;
	transform: rotate(45deg);
	position: relative;
	&::after {
		content: '';
		width: 20px;
		height: 2px;
		background: #183679;
		display: block;
		cursor: pointer;
		margin: auto;
		transform: translate(10px, 10px) rotate(-90deg);
	}
}

.pickerVisor, .pickerShell, .pickerChinguard, .pickerScrew, .pickerRubber {
	display: none;
}

.arrow--left {
	cursor: pointer;
	width: 50px;
	height: 68px;
	display: flex;
}

.arrow--right {
	cursor: pointer;
	width: 50px;
	height: 68px;
	display: flex;
}

.pickerVisorDisplay,.pickerVisorColor,.shellMaterial,.shellColor,
.shellDesign,.pickerChinguardDisplay, .pickerChinguardColor {
	display: flex;
	color: #183679;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 0.7rem;
	justify-content: center;
	margin-top: 2rem;
}
.pickerVisorWithout,.ChinguardWithout {
	border: 2px solid #183679;
	padding: 0.2rem 0.5rem;
	border-radius: 25px;
	width: 50px;
	text-align: center;
	margin-right: 1rem;
	color: #183679;
	cursor: pointer;
}

.pickerVisorWith, .ChinguardWith {
	border: 2px solid #183679;
	padding: 0.2rem;
	border-radius: 25px;
	width: 50px;
	text-align: center;
	color: #183679;
	cursor: pointer;
}
.pickerVisorColor--transp, .pickerVisorColor--smoked,.pickerVisorColor--black {
	border: 2px solid #183679;
	padding: 0.2rem;
	border-radius: 25px;
	width: 100px;
	text-align: center;
	color: #183679;
	cursor: pointer;
	margin-right: 1rem;
}

.materialCarbon,
.materialBrillant,
.materialMatt,
.materialGlitter {
	padding: 0.2rem;
	width: 20%;
	border: 2px solid #183679;
	border-radius:50%
}
.materialGlitter {
	width: 40px;
	height: 40px;

}
.materialBrillant {
	filter: brightness(2);
}
.carbon,.brillant,.matt,.glitter  {
	display: flex;
	margin-right: 1rem;
	cursor: pointer;
	flex-direction: column;
	width: 35%;
	align-items: center;
}

.carbon--name,.brillant--name, .matt--name, .glitter--name {
	width: 20%;
	padding: 0.2rem;
	text-align: center;
}
input[type="color"] {
	-webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;

}
input[type="color"]::-webkit-color-swatch {
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.shellColor--blue,.shellColor--red,.shellColor--green,.shellColor--black,.shellColor--white,.shellColor--yellow,.shellColor--gold,.shellColor--silver, .chinguardColor--blue,.chinguardColor--red,.chinguardColor--green,.chinguardColor--black,.chinguardColor--white,.chinguardColor--yellow,.chinguardColor--gold,.chinguardColor--silver,.rubberColor--black,.rubberColor--white,.rubberColor--naturel {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 0.2rem;
	border: 2px solid #183679;
}

.shellColor, .pickerChinguardColor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.shellDesign  {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	cursor: pointer;

	& > img {
		padding: 0.4rem;
		border: 2px solid #183679;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		margin-right: 1rem;

	}
}

.disparition {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 11;
	background-color: #fff;
}

.disparition > svg {
	width: 30%;

}
.st0 {
	stroke-width:10;
	stroke:#233658;
  fill:none;
	animation: svgAnime 6s 100ms forwards ease-in;
}
@keyframes svgAnime {
	0% {
		stroke-dasharray: 10 15;
	}
	50% {
		stroke-dasharray: 15 0;
		fill: #233658;
	}
	100% {
		stroke-dasharray: 0 0;
		fill: #233658;
	}
}
 .menuWebsite {
	width: 50px;
	height: 50px;
	background-color: #233658;
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
 }
 .barre {
	background: white;
	height: 2px;
	width: 70%;
	position: absolute;
	left: 8px;
 }
 .barreMenu1 {
	top: 15px;
 }
 .barreMenu2 {
	top: 23px;
}
.barreMenu3 {
	bottom: 17px;
}
.menuCache {
	background: white;
	width: 20vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -20vw;
	border-right: 1px solid #f1f1f2;
	z-index: 2;
}
.link {
	cursor: pointer;
	color: #233658;
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-weight: bold;
}

img.logoVeldt {
	width: 15%;
}

.logoComplet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 3rem;
	& > p {
		color: #233658;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 5px;
		margin-right: 2rem;
	}
}
.cross {
	margin: auto 0;
	cursor: pointer;
	&--1 {
		background: #233658;
    height: 2px;
    width: 25px;
    display: block;
    transform: rotate(45deg);
	}
	&--2 {
		background: #233658;
    height: 2px;
    width: 25px;
    display: block;
    transform: rotate(140deg);
	}
}

.config {
	color: #8f9194;
	text-transform: uppercase;
	position: absolute;
	left: 62px;
	top: 14px;
}
img.logo {
	width: 7%;
	position: absolute;
	left: 70px;
}

.headerSimul {
	position: relative;
	top: 15px;
	left: 10px;
	display: flex;
}

.information {
	color: #8f9194;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	width: 180px;
	text-align: center;
}
.price {
	color: #233658;
	font-size: 1.7rem;
	font-weight: bold;
	margin-right: 2rem;
}
.basket {
	position: absolute;
	top: 15px;
	right: 90px;
	display: flex;
	& > a {
    color: white;
    background-color: #233658;
    width: 100px;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    height: 25px;
    margin: auto;
    padding: 0.4rem;
		display: flex;
    justify-content: center;
    align-items: center;
	}
}

:root {
  /** * THEME LIGHT */
  --main-bg-color-light: rgba(255, 255, 255);
  /* tabs colors */
  --tabs-header-bg-color: rgb(231, 234, 236);
  --tabs-bg-color: var(--tabs-header-bg-color);
  --tabs-selected-bg-color: var(--main-bg-color-light);
  --tabs-hover-bg-color: rgb(240, 243, 245);
  --tabs-text-color: rgb(88, 92, 95);
  --tabs-hover-text-color: rgb(88, 92, 95);
  --tabs-selected-text-color: rgb(47, 48, 49);
  --tabs-height: 2.2rem;
  /** * THEME DARK */
  --main-bg-color-dark: rgb(49, 53, 57);
  /* tabs colors */
  --dark-tabs-header-bg-color: rgb(31, 32, 35);
  --dark-tabs-bg-color: var(--main-bg-color-dark);
  --dark-tabs-selected-bg-color: var(--dark-tabs-header-bg-color);
  --dark-tabs-hover-bg-color: #25282b;
  --dark-tabs-text-color: rgb(134, 136, 138);
  --dark-tabs-hover-text-color: rgb(255, 255, 255);
  --dark-tabs-selected-text-color: rgb(221, 226, 231);
}

.sd-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  /* background: #e5e5e5; */
  padding-top: 0.075rem;
 /*  position: relative; */
  /* background-color: var(--tabs-bg-color); */
  height: 100%;
	height: 500px;
	position: absolute;
	top: 85%;
    /* border-bottom: 2px solid #233658; */
    /* display: flex; */
	justify-content: center;
}
.sd-tab-radio {
  position: absolute;
  opacity: 0;
}

.sd-tabs > .sd-tab-label {
  background-color: var(--tabs-bg-color);
  padding: 3px 5px 5px 10px;
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  max-height: var(--tabs-height);
  /* transition: background-color ease .2s, box-shadow ease .2s;
  */
  cursor: pointer;
  flex: 1;
}

.sd-tabs > .sd-tab-label:hover {
  background-color: var(--tabs-hover-bg-color);
  color: var(--tabs-hover-text-color);
  z-index: 3;
}

.sd-tabs > .sd-tab-radio:checked .sd-tab-label {
  z-index: 4;
}

.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  display: block;
  height: 80%;
  width: 100%;
  bottom: 0px;
  z-index: -1;
  opacity: 0;
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:not(:hover) {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0.25);
  color: var(--tabs-text-color);
}

.sd-tabs > .sd-tab-radio:checked .sd-tab-label + .sd-tab-label,
.sd-tabs > .sd-tab-label:hover + .sd-tab-radio:not(:checked) + .sd-tab-label {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label:hover {
  /* transition: opacity ease .2s, box-shadow ease .2s;
  */
}
.sd-tabs > .sd-tab-radio + .sd-tab-label:hover::before,
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
  left: -100%;
  border-radius: 0 0 10px 0;
  opacity: 1;
  /* transition: opacity ease .2s, box-shadow ease .2s;
  */
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
  box-shadow: 14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}

.sd-tabs > .sd-tab-radio + .sd-tab-label:hover::after,
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  right: -100%;
  border-radius: 0 0 0 10px;
  opacity: 1;
  /* transition: opacity ease .2s, box-shadow ease .2s;
  */
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  box-shadow: -14px 0.25em 0 -4px var(--tabs-selected-bg-color);
}

.sd-tabs > .sd-tab-radio:checked + .sd-tab-label:hover,
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label {
  background-color: var(--tabs-selected-bg-color);
  color: var(--tabs-selected-text-color);
  z-index: 4;
	border-top: 2px solid #233658;
	border-right: 2px solid #233658;
	border-left: 2px solid #233658;
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:hover::before {
  box-shadow: 14px 0.25em 0 -4px var(--tabs-hover-bg-color);
  opacity: 1;
  /* transition: all .2s;
  */
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:hover::after {
  box-shadow: -14px 0.25em 0 -4px var(--tabs-hover-bg-color);
  /* transition: all .2s;
  */
}

:root .sd-tabs > .sd-tab-radio + .sd-tab-label:first-of-type {
  box-shadow: -8px 0px 0 -7px rgba(0, 0, 0, 0);
}

.sd-tabs > .sd-tab-content {
  flex-basis: 100%;
  display: none;
  padding: 0.255rem;
  background-color: #fff;
  box-shadow: inset 0px 0px 0 1px var(--tabs-selected-bg-color);
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: calc(100% - var(--tabs-height));
  overflow: auto;
}
.sd-tabs > .break {
  background-color: aqua;
  flex-basis: 100%;
}

.sd-tabs > .sd-tab-radio:checked + .sd-tab-label + .sd-tab-content {
  display: block;
}
.sd-tabs > .sd-tab-label .sd-tab-desc {
  display: block;
  margin: 7px 5px 5px 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 0.75rem;
  flex: 1 1 0%;
	color: #233658;
	text-transform: uppercase;
	text-align: center;
}
.sd-tabs > .sd-tab-label .sd-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 15px;
  padding: 2px 3px;
}
.sd-tabs > .sd-tab-label .sd-tab-icon:not(.sd-tab-close) {
  width: 20px;
}
.sd-tabs > .sd-tab-label[icon-only] .sd-tab-icon:not(.sd-tab-close) {
  width: 24px;
  margin: 0 auto;
}
.sd-tabs > .sd-tab-label .sd-tab-close:hover {
  background-color: #4c4c4c33;
}
.sd-tabs > .sd-tab-label .sd-tab-close {
  margin-left: auto;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  visibility: hidden;
}
@media (min-width: 600px) {
  .sd-tab-content {
    order: 999;
  }
  .sd-tabs {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sd-tab-label {
    max-width: 150px;
    width: 150px;
    border-radius: 10px 10px 0 0;
  }
  .sd-tabs > .sd-tab-label::after,
  .sd-tabs > .sd-tab-label::before {
    visibility: visible;
  }
  .sd-tabs > .sd-tab-label:first-of-type {
    margin-left: 14px;
  }
}