$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-size: $font-size;
  color: $font-color;
}
#root {
	display: none;
}
li {
	text-decoration: none;
	list-style: none;
}
a {
	text-decoration: none;
	color: #233658;
	font-size: 0.8em;
}
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	/* overflow-x: hidden; */
	margin: 0;
	position: relative;
	overflow: hidden;
}
#simulateur {
	width: 100vw;
	height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 10px solid #233658;
}


/* canvas {
	display: block;
	width: 100%;
	height: 50%;
/* 	@media (min-width: 375px) {
		display: block;
		width: 690px;
		height: 800px;
	}
	@media (min-width: 992px) {
		display: block;
		width: 700px;
		height: 975px;
	} */


.menu {
	width: 100vw;
	height: 500px;
	z-index: 1;
	background-color: white;
	/* top: -100px; */
	border-radius: 15px;
	position: absolute;
	top: 85%;
	display: none;
}
.onglet {
	display: flex;
}
.casque, .menton, .visiere {
	width: 100vw;
	height: 500px;
	z-index: 1;
	background-color: white;
	border-radius: 15px;
	position: absolute;
	top: 85%;
	border-top: 2px solid #233658;
	display: flex;
	justify-content: center;
}
.casque {
	z-index: 3;
}
.menton {
	z-index: 2;
	background-color: #f1f1f2;
}
.visiere {
	z-index: 1;
	background-color: #f1f1f2;
}
.casque > .titreOnglet {
	left: 150px;
	cursor: pointer;
	text-align: center;
	& > span {
		position: relative;
		top: -10px;
	}
}
.menton > .titreOnglet {
	left: 320px;
	cursor: pointer;
	text-align: center;
	background-color: #8f9194;
	& > span {
		position: relative;
		top: -10px;
		color: grey;
	}
}
.visiere > .titreOnglet {
	left: 485px;
	cursor: pointer;
	text-align: center;
	background-color: #8f9194;
	& > span {
		position: relative;
		top: -10px;
		color: grey;
	}
	&::after {
		background: #f1f1f2;
	}
}
span.titreOnglet {
	display: block;
	color: #233658;
	text-transform: uppercase;
	position: absolute;
	top: -25px;
	background: white;
	padding: 1rem;
	border-radius: 19px;
	border-top: 2px solid #233658;
	width: 150px;
}
.titreOnglet:before {
	content: '';
	background: #f1f1f2;
	width: 26px;
	position: absolute;
	bottom: 29px;
	height: 17px;
	border-right: 2px solid #233658;
	left: -22px;
	border-radius: 0 0 50% 0;
	box-shadow: 14px 4px 0 #fff;
}
.titreOnglet::after {
	content: '';
	background: transparent;
	width: 26px;
	position: absolute;
	bottom: 27px;
	height: 17px;
	border-left: 2px solid #233658;
	right: -22px;
	box-shadow: -13px 15px 0 #fff;
	border-radius: 0 50% 0;
}
.barreElement {
	display: block;
	background-color: rgb(179, 176, 176);
	margin: 5px auto;
	width: 100px;
	height: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.menu--open {
	top: 50%;
	flex-direction: column;
}

.colorPickerTitle {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: block;
	color: #183679;
}
.elementChoice {
	display: flex;
	justify-content: center;
	align-items: center;
}
.elementPicker {
	width: 300px;
	margin: 0 2rem;
	text-align: center;
	color: #183679;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}

.pickerVisor, .pickerShell, .pickerChinguard, .pickerScrew, .pickerRubber {
	display: none;
}

.arrow--left {
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: flex;
	border: 1px solid #233658;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	&::before	{
		content: '';
		width: 15px;
		height: 2px;
		background: #233658;
		display: block;
		cursor: pointer;
		position: absolute;
		transform: translate3d(0px, -4px, 10px) rotate(-30deg);
	}
	&::after {
		content: '';
		width: 15px;
		height: 2px;
		background: #233658;
		display: block;
		cursor: pointer;
		position: absolute;
		transform: translate3d(0px, 3px, 10px) rotate(30deg);
	}
}

.arrow--right {
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: flex;
	border: 1px solid #233658;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	&::before	{
		content: '';
		width: 15px;
		height: 2px;
		background: #233658;
		display: block;
		cursor: pointer;
		position: absolute;
		transform: translate3d(0px, -4px, 10px) rotate(30deg);
	}
	&::after {
		content: '';
		width: 15px;
		height: 2px;
		background: #233658;
		display: block;
		cursor: pointer;
		position: absolute;
		transform: translate3d(0px, 3px, 10px) rotate(-30deg);
	}
}

.pickerVisorDisplay,.pickerVisorColor,.shellMaterial,.shellColor,
.shellDesign,.pickerChinguardDisplay, .pickerChinguardColor {
	display: flex;
	color: #183679;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 0.7rem;
	justify-content: center;
	/* margin-top: 2rem; */
}
.pickerVisorWithout,.ChinguardWithout {
	border: 2px solid #183679;
	padding: 0.2rem 0.5rem;
	border-radius: 25px;
	width: 50px;
	text-align: center;
	margin-right: 1rem;
	color: #183679;
	cursor: pointer;
}

.pickerVisorWith, .ChinguardWith {
	border: 2px solid #183679;
	padding: 0.2rem;
	border-radius: 25px;
	width: 50px;
	text-align: center;
	color: #183679;
	cursor: pointer;
}
.pickerVisorColor--transp, .pickerVisorColor--smoked,.pickerVisorColor--black {
	border: 2px solid #183679;
	padding: 0.2rem;
	border-radius: 25px;
	width: 100px;
	text-align: center;
	color: #183679;
	cursor: pointer;
	margin-right: 1rem;
}
.pickerScrew {
	position: relative;
	top: 50px;
	width: 100%;
}
.materialCarbon,
.materialBrillant,
.materialMatt,
.materialGlitter {
	padding: 0.2rem;
	width: 20%;
	border: 2px solid #183679;
	border-radius:50%
}
.materialGlitter {
	width: 40px;
	height: 40px;

}
.materialBrillant {
	filter: brightness(2);
}
/* .carbon, */.brillant,.matt,.glitter  {
	display: flex;
	/* margin-right: 1rem; */
	cursor: pointer;
	flex-direction: column;
	width: 35%;
	align-items: center;
}

.carbon--name,.brillant--name, .matt--name, .glitter--name {
	width: 20%;
	padding: 0.2rem;
	text-align: center;
}
input[type="color"] {
	-webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;

}
input[type="color"]::-webkit-color-swatch {
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.shellColor--blue,.shellColor--red,.shellColor--green,.shellColor--black,.shellColor--white,.shellColor--yellow,.shellColor--gold,.shellColor--silver, .chinguardColor--blue,.chinguardColor--red,.chinguardColor--green,.chinguardColor--black,.chinguardColor--white,.chinguardColor--yellow,.chinguardColor--gold,.chinguardColor--silver,.rubberColor--black,.rubberColor--white,.rubberColor--naturel {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 0.2rem;
	border: 2px solid #183679;
}

.shellColor, .pickerChinguardColor {
	display: none;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.shellColor {
	flex-direction: column;
	align-items: center;
	height: 50%;
	position: absolute;
	top: 185px;
}

.shellDesign  {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	cursor: pointer;

	& > img {
		padding: 0.4rem;
		border: 2px solid #183679;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		margin-right: 1rem;

	}
}

.disparition {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 11;
	background-color: #fff;
}

/* .disparition > svg {
	width: 30%;

} */
/* .st0 {
	stroke-width:10;
	stroke:#233658;
  fill:none;
	animation: svgAnime 6s 100ms forwards ease-in;
}
@keyframes svgAnime {
	0% {
		stroke-dasharray: 10 15;
	}
	50% {
		stroke-dasharray: 15 0;
		fill: #233658;
	}
	100% {
		stroke-dasharray: 0 0;
		fill: #233658;
	}
} */
 .menuWebsite {
	width: 50px;
	height: 50px;
	background-color: #233658;
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
 }
 .barre {
	background: white;
	height: 2px;
	width: 70%;
	position: absolute;
	left: 8px;
 }
 .barreMenu1 {
	top: 15px;
 }
 .barreMenu2 {
	top: 23px;
}
.barreMenu3 {
	bottom: 17px;
}
.menuCache {
	background: white;
	width: 20vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -20vw;
	border-right: 1px solid #f1f1f2;
	z-index: 11;
	transition: left 1s ease-in-out;
}
.link {
	cursor: pointer;
	color: #233658;
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-weight: bold;

}
.menuCache-ul > .link {
	&:nth-child(1)::before, &:nth-child(2)::before {
		content: '';
		width: 15px;
		height: 2px;
		background: #233658;
		position: absolute;
    right: 25px;
    transform: translate3d(0px, 3px, 10px) rotate(30deg);
	}
	&:nth-child(1)::after,  &:nth-child(2)::after{
		content: '';	
		width: 15px;
		height: 2px;
		background: #233658;
		position: absolute;
    right: 25px;
    transform: translate3d(0px, 10px, 10px) rotate(-30deg);	
	}
}
.perso {
	background: #233658;
	color: #fff;
	padding: 0.7em 3em;
	border-radius: 25px;
}
a.perso:after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #233658;
	position: absolute;
	top: 73px;
	left: 73px;
}
a.perso::before {
	content: '';
	width: 20px;
	height: 20px;
	background: conic-gradient(red, yellow, blue, orange);
	position: absolute;
	left: 68px;
	top: 68px;
	border-radius: 50%;
}
.menuMark1 {
	width: 30vw;
	background: #fff;
	height: 100vh;
	position: absolute;
	left: -30vw;
	z-index: 10;
	transition: left 1s ease-in-out;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar {
		display: none;
		}
	& > nav > ul > .link:nth-child(1)::before, & > nav > ul > .link:nth-child(2)::before {
		display: none;
	}
	& > nav > ul > .link:nth-child(1)::after,  &  > nav > ul > .link:nth-child(2)::after{
		display: none;
	}
	& > nav > ul > .link > span {
		&::before {
			content: '';
			width: 15px;
			height: 2px;
			background: #233658;
			position: absolute;
			right: 25px;
			transform: translate3d(0px, 3px, 10px) rotate(-30deg);
		}
		&::after {
			content: '';	
			width: 15px;
			height: 2px;
			background: #233658;
			position: absolute;
			right: 25px;
			transform: translate3d(0px, 10px, 10px) rotate(30deg);
		}
	}
}
.menuMark1 > nav > ul {
	height: 95vh;
}

.menuMark1 > nav > ul > li {
	margin: 1em;
}
.openChoiceMenu {
	top: 50% !important;
}
li.link2 > a {
	color: #bcbaba;
	font-weight: 100;
	margin-left: -40px;
}
.link2:first-child {
	&::before {

	}
	&::after {

	}
}
img.logoVeldt {
	width: 15%;
}

.logoComplet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 3rem;
	& > p {
		color: #233658;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 5px;
		margin-right: 2rem;
	}
}
.cross {
	margin: auto 0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	right: 40px;
	&:before {
		content: '';
		background: #233658;
    height: 2px;
    width: 25px;
    position: absolute;
    transform: rotate(45deg);
	}
	&:after {
		content: '';
		background: #233658;
		position: absolute;
    height: 2px;
    width: 25px;
    display: block;
    transform: rotate(-45deg);
	}
}

.config {
	color: #8f9194;
	text-transform: uppercase;
	position: absolute;
	left: 62px;
	top: 14px;
}
img.logo {
	width: 7%;
	position: absolute;
	left: 70px;
}

.headerSimul {
	position: relative;
	top: 15px;
	left: 10px;
	display: flex;
}

.information {
	color: #8f9194;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	width: 180px;
	text-align: center;
}
.price {
	color: #233658;
	font-size: 1.7rem;
	font-weight: bold;
	margin-right: 2rem;
}
.basket {
	position: absolute;
	top: 15px;
	right: 90px;
	display: flex;
	& > a {
    color: white;
    background-color: #233658;
    width: 100px;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    height: 25px;
    margin: auto;
    padding: 0.4rem;
		display: flex;
    justify-content: center;
    align-items: center;
	}
}

:root {
  /** * THEME LIGHT */
  --main-bg-color-light: rgba(255, 255, 255);
  /* tabs colors */
  --tabs-header-bg-color: rgb(231, 234, 236);
  --tabs-bg-color: var(--tabs-header-bg-color);
  --tabs-selected-bg-color: var(--main-bg-color-light);
  --tabs-hover-bg-color: rgb(240, 243, 245);
  --tabs-text-color: rgb(88, 92, 95);
  --tabs-hover-text-color: rgb(88, 92, 95);
  --tabs-selected-text-color: rgb(47, 48, 49);
  --tabs-height: 2.2rem;
  /** * THEME DARK */
  --main-bg-color-dark: rgb(49, 53, 57);
  /* tabs colors */
  --dark-tabs-header-bg-color: rgb(31, 32, 35);
  --dark-tabs-bg-color: var(--main-bg-color-dark);
  --dark-tabs-selected-bg-color: var(--dark-tabs-header-bg-color);
  --dark-tabs-hover-bg-color: #25282b;
  --dark-tabs-text-color: rgb(134, 136, 138);
  --dark-tabs-hover-text-color: rgb(255, 255, 255);
  --dark-tabs-selected-text-color: rgb(221, 226, 231);
}

.sd-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding-top: 0.075rem;
	height: 500px;
	position: absolute;
	top: 85%;
	justify-content: center;
	width: 100vw;
}
.sd-tab-radio {
  position: absolute;
  opacity: 0;
}

.sd-tabs > .sd-tab-label {
  background-color: var(--tabs-bg-color);
  padding: 0px 5px 2px 10px;
  display: flex;
  align-items: center;
  border-radius: 17px 17px 0 0;
  position: relative;
  z-index: 2;
  max-height: var(--tabs-height);
  cursor: pointer;
  flex: 1;
}

.sd-tabs > .sd-tab-label:hover {
  background-color: var(--tabs-hover-bg-color);
  color: var(--tabs-hover-text-color);
  z-index: 3;
}

.sd-tabs > .sd-tab-radio:checked .sd-tab-label {
  z-index: 4;
}

.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  display: block;
  height: 80%;
  width: 100%;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:not(:hover) {
  color: var(--tabs-text-color);
}
.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:not(:hover) > #onglet > .st0 {
  stroke:#808080;
}
.sd-tabs > .sd-tab-radio + .sd-tab-label:hover::before,
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
  left: -100%;
  border-radius: 0 0 20px 0;
  opacity: 1;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::before {
  box-shadow: 14px 0.25em 0 0px var(--tabs-selected-bg-color);
}

.sd-tabs > .sd-tab-radio + .sd-tab-label:hover::after,
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  right: -100%;
  border-radius: 0 0 0 20px;
  opacity: 1;
}
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label::after {
  box-shadow: -14px 0.25em 0 0px var(--tabs-selected-bg-color);
}

.sd-tabs > .sd-tab-radio:checked + .sd-tab-label:hover,
.sd-tabs > .sd-tab-radio:checked + .sd-tab-label {
  background-color: var(--tabs-selected-bg-color);
  color: var(--tabs-selected-text-color);
  z-index: 4;
	box-shadow: 0px 18px 0px 0px #fff;
}

.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:hover::before {
  box-shadow: 14px -2.25em 0 0px var(--tabs-hover-bg-color);
  opacity: 1;
}


.sd-tabs > .sd-tab-radio:not(:checked) + .sd-tab-label:hover::after {
  box-shadow: -14px -2.25em 0 0px var(--tabs-hover-bg-color);
}

.sd-tabs > .sd-tab-content {
  flex-basis: 100%;
  display: none;
  padding: 0.255rem;
  background-color: #fff;
  box-shadow: inset 0px 0px 0 1px var(--tabs-selected-bg-color);
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: calc(100% - var(--tabs-height));
  overflow: auto;
}
.sd-tabs > .break {
  background-color: aqua;
  flex-basis: 100%;
}

.sd-tabs > .sd-tab-radio:checked + .sd-tab-label + .sd-tab-content {
  display: block;
	border-top: 2px solid #233658;

}
.sd-tabs > .sd-tab-label .sd-tab-desc {
  display: block;
  margin: 7px 5px 5px 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 0.75rem;
  flex: 1 1 0%;
	color: #233658;
	text-transform: uppercase;
	text-align: center;
}

.sd-tabs > .sd-tab-label .sd-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 15px;
  padding: 2px 3px;
}
.sd-tabs > .sd-tab-label .sd-tab-icon:not(.sd-tab-close) {
  width: 20px;
}
.sd-tabs > .sd-tab-label[icon-only] .sd-tab-icon:not(.sd-tab-close) {
  width: 24px;
  margin: 0 auto;
}
.sd-tabs > .sd-tab-label .sd-tab-close:hover {
  background-color: #4c4c4c33;
}
.sd-tabs > .sd-tab-label .sd-tab-close {
  margin-left: auto;
}
.sd-tabs > .sd-tab-label::after,
.sd-tabs > .sd-tab-label::before {
  visibility: hidden;
}
@media (min-width: 600px) {
  .sd-tab-content {
    order: 999;
  }
  .sd-tabs {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sd-tab-label {
		display: block;
     max-width: 120px;
    border-radius: 10px 10px 0 0;
  }
	
  .sd-tabs > .sd-tab-label::after,
  .sd-tabs > .sd-tab-label::before {
    visibility: visible;
  }
}

.upDown {
	width: 30px;
	height: 30px;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #233658;
	position: absolute;
	transition: transform 2s;
	cursor: pointer;
	top: 35px;
	right: 5px;
	z-index: 10;
	&:before {
		content: "";
    width: 10px;
    height: 2px;
    background: #233658;
    position: absolute;
    top: 0;
    transform: translate(7px, 14px) rotate(-45deg);
	}
	&:after {
		content: "";
    width: 10px;
    height: 2px;
    background: #233658;
    position: absolute;
    top: 0;
    transform: translate(14px, 14px) rotate(45deg);
	}
	&:hover {
		animation: changedirection 2s;
		transform: rotate(180deg);
	}
}

@keyframes changedirection {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
#onglet {
	position: absolute;
	top: -35px;
	width: 165px;
	left: -15px;
	height: 100px;
}
.st0 {
	stroke-width: 2px;
	fill: transparent;
	stroke:#233658;
	stroke-miterlimit:10;
}
.st01 {
	stroke-width: 2px;
	fill: transparent;
	stroke:#808080;
	stroke-miterlimit:10;
}
.menuEtape {
	display: none;
	background: #fff;
	flex-direction: row;
	width: 100%;
	position: relative;
	z-index: 20;
	/* height: 100%; */
}

.matiereimage {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#Calque_svg {
	width: 30px;
	height: 30px;
	position: relative;
	top: 0;
	left: 0;
}

.navigationEtapes {
	width: 100%;
	height: 100%;
}
ul.menuEtapeUl {
	width: 100%;
	display: flex;
	/* height: 100%; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
ul.menuEtapeUl > li {
	width: 25%;}
.eyes, .eyesHelmet {
	width: 15%;
	z-index: 10;
}
#eyes {
	width: 15%;
}
.eyesOff {
	fill: #939598 !important;
}

#export {
	width: 25px;
	height: 30px;
}

.exportButton {
	position: absolute;
	top: -10px;
	right: 10px;
}
#etapeLogo {
	width: 20px;
	height: 20px;
}
.menuEtapesLogo {
	position: absolute;
	top: 40px;
	left: 35px;
	width: 35px;
	height: 35px;
	border: 1px solid #233658;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.crossEtape {
	margin: auto 0;
	cursor: pointer;
	position: absolute;
	top: 40px;
	right: 40px;
	border: 1px solid #233658;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: '';
		background: #233658;
    height: 2px;
    width: 25px;
    position: absolute;
    transform: rotate(45deg);
	}
	&:after {
		content: '';
		background: #233658;
		position: absolute;
    height: 2px;
    width: 25px;
    display: block;
    transform: rotate(-45deg);
	}
}
#info {
	display: none;
	position: absolute;
	bottom: 0px;
	place-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	height: 60%;
}
.number {
	color: #bcbaba;
	margin-left: 2rem;
	font-weight: 500;
}
.menuInfo {
	display: none;
}
.aeration {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: 50px;
}

.aerationDisplay {
	text-transform: uppercase;
	color: #233658;
	padding-top: -1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}
.aerationWithout {
	margin-right: 10rem;
	&:hover {
		background: #233658;
		color: #fff;
	}
}
.aerationWith {
	&:hover {
		background: #233658;
		color: #fff;
	}
}
.aerationWithout, .aerationWith {	
	border: 1px solid #233658;
	border-radius: 25px 25px 25px 25px;
	padding: 10px 1rem;
	width: 75px;
	text-align: center;
	cursor: pointer;

}

.shellDesign {
	width: 100%;
	flex-direction: row;
}
.allScrew {
	display: flex;
	flex-direction: column;
	width: 5%;
	position: relative;
	&:hover > .textAction {
		visibility: visible;
		&::after {
			content: "";
			width: 30px;
			height: 4px;
			position: absolute;
			bottom: -5px;
			background: #233658;
			left: 18px;
			animation: widthLine 200ms forwards ease-in-out;
		}
	}
	& > .textAction {
		text-align: center;
    visibility: hidden;
	}
}

.roundColor {
	width: 30px;
	height: 30px;
	border-radius: 50%;
/* 	flex-direction: column; */
	position: relative;
	margin: 5px auto;
/* 	align-items: center; */
/* 	&:hover {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: transparent;
		border: 1px solid rgb(249,251,255);

	} */
	&:hover + .textAction {
		visibility: visible;
		position: relative;
		&::after {
			content: "";
			width: 90px;
			height: 4px;
			position: absolute;
			bottom: -6px;
			background: #233658;
			left: 27px;
			animation: widthLine 200ms forwards ease-in-out;
		}
	}
	& + .textAction {
		text-align: center;
    visibility: hidden;
		width: 100px;
	}
}
@keyframes widthLine {
	0% {
		width: 0px;
	}
	100% {
		width: 50px;
	}
	
}
.colorPicker {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(187,187,187,1) 0%, rgba(43,29,26,1) 5%,rgba(187,187,187,1) 10%, rgba(43,29,26,1) 15%,rgba(187,187,187,1) 20%, rgba(43,29,26,1) 25%,rgba(187,187,187,1) 30%, rgba(43,29,26,1) 35%,rgba(187,187,187,1) 40%, rgba(43,29,26,1) 45%,rgba(187,187,187,1) 50%, rgba(43,29,26,1) 55%,rgba(187,187,187,1) 60%, rgba(43,29,26,1) 65%,rgba(187,187,187,1) 70%, rgba(43,29,26,1) 75%,rgba(187,187,187,1) 80%, rgba(43,29,26,1) 85%,rgba(187,187,187,1) 90%, rgba(43,29,26,1) 95%,rgba(187,187,187,1) 100%);
	position: absolute;
	top: 63px;
	left: 400px;
}

.colorPicker2 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(187,187,187,1) 0%, rgba(43,29,26,1) 2%,rgba(187,187,187,1) 4%, rgba(43,29,26,1) 6%,rgba(187,187,187,1) 8%, rgba(43,29,26,1) 10%,rgba(187,187,187,1) 12%, rgba(43,29,26,1) 14%,rgba(187,187,187,1) 16%, rgba(43,29,26,1) 18%,rgba(187,187,187,1) 20%, rgba(43,29,26,1) 22%,rgba(187,187,187,1) 24%, rgba(43,29,26,1) 26%,rgba(187,187,187,1) 28%, rgba(43,29,26,1) 30%,rgba(187,187,187,1) 32%, rgba(43,29,26,1) 34%,rgba(187,187,187,1) 36%, rgba(43,29,26,1) 38%,rgba(187,187,187,1) 40%,rgba(187,187,187,1) 42%, rgba(43,29,26,1) 44%,rgba(187,187,187,1) 46%, rgba(43,29,26,1) 48%,rgba(187,187,187,1) 50%, rgba(43,29,26,1) 52%,rgba(187,187,187,1) 54%, rgba(43,29,26,1) 56%,rgba(187,187,187,1) 58%, rgba(43,29,26,1) 60%,rgba(187,187,187,1) 62%, rgba(43,29,26,1) 64%,rgba(187,187,187,1) 66%, rgba(43,29,26,1) 68%,rgba(187,187,187,1) 70%, rgba(43,29,26,1) 72%,rgba(187,187,187,1) 74%, rgba(43,29,26,1) 76%, rgba(187,187,187,1) 78%, rgba(43,29,26,1) 80%, rgba(187,187,187,1) 82%, rgba(43,29,26,1) 84%, rgba(187,187,187,1) 86%, rgba(43,29,26,1) 88%,rgba(187,187,187,1) 90%, rgba(43,29,26,1) 92%,rgba(187,187,187,1) 94%, rgba(43,29,26,1) 96%,rgba(187,187,187,1) 98%, rgba(43,29,26,1) 100%);
	position: absolute;
	top: 63px;
	left: 450px;
}

.colorPicker3 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(187, 187, 187, 1) 0%, rgba(43, 29, 26,1) 3%,rgba(187, 187, 187,1) 6%, rgb(43, 29, 26,1) 9%,rgba(187,187,187,1) 12%, rgba(43,29,26,1) 15%,rgba(187,187,187,1) 18%, rgba(43,29,26,1) 21%,rgba(187,187,187,1) 24%, rgba(43,29,26,1) 27%,rgba(187,187,187,1) 30%, rgba(43,29,26,1) 33%,rgba(187,187,187,1) 36%, rgba(43,29,26,1) 39%,rgba(187,187,187,1) 42%, rgba(43,29,26,1) 45%,rgba(187,187,187,1) 48%, rgba(43,29,26,1) 51%,rgba(187,187,187,1) 54%, rgba(43,29,26,1) 57%,rgba(187,187,187,1) 60%,rgba(187,187,187,1) 63%, rgba(43,29,26,1) 66%,rgba(187,187,187,1) 46%, rgba(43,29,26,1) 69%,rgba(187,187,187,1) 72%, rgba(43,29,26,1) 75%,rgba(187,187,187,1) 78%, rgba(43,29,26,1) 81%,rgba(187,187,187,1) 84%, rgba(43,29,26,1) 87%,rgba(187,187,187,1) 90%, rgba(43,29,26,1) 93%,rgba(187,187,187,1) 96%, rgba(43,29,26,1) 99%);
	position: absolute;
	top: 63px;
	left: 500px;
}

.colorPicker4 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(43, 29, 26, 1) 0%, rgba(255,252,0,1) 50%, rgba(212,175,55,1) 75%, rgba(68,55,12,1) 100%);
	position: absolute;
	top: 63px;
	left: 550px;
}

.colorPicker5 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(43,29,26,1) 0%, rgba(255,141,0,1) 50%, rgba(184,115,51,1) 75%, rgba(68,55,12,1) 100%);
	position: absolute;
	top: 63px;
	left: 550px;
}
.colorPicker6 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(45,45,45,1) 0%, rgba(255,255,255,1) 50%, rgba(192,192,192,1) 75%, rgba(5,5,5,1) 100%);
	position: absolute;
	top: 63px;
	left: 600px;
}
.colorPicker7 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(0,0,196,1) 0%, rgba(151,24,196,1) 35%, rgba(55,110,179,1) 65%, rgba(0,0,196,1) 100%);
	position: absolute;
	top: 63px;
	left: 650px;
}
.colorPicker8 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(61,180,177,1) 0%, rgba(211,153,255,1) 28%, rgba(253,175,255,1) 50%, rgba(211,153,255,1) 75%, rgba(61,180,177,1) 100%);
	position: absolute;
	top: 63px;
	left: 700px;
}
.colorPicker9 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(320deg, rgba(228,164,255,1) 0%, rgba(136,36,203,1) 28%, rgba(43,46,203,1) 50%, rgba(136,36,203,1) 75%, rgba(228,164,255,1) 100%);
	position: absolute;
	top: 63px;
	left: 750px;
}

.colorList {
	display: flex;
}
.carbon {
	background: linear-gradient(320deg, rgba(187,187,187,1) 0%, rgba(43,29,26,1) 5%,rgba(187,187,187,1) 10%, rgba(43,29,26,1) 15%,rgba(187,187,187,1) 20%, rgba(43,29,26,1) 25%,rgba(187,187,187,1) 30%, rgba(43,29,26,1) 35%,rgba(187,187,187,1) 40%, rgba(43,29,26,1) 45%,rgba(187,187,187,1) 50%, rgba(43,29,26,1) 55%,rgba(187,187,187,1) 60%, rgba(43,29,26,1) 65%,rgba(187,187,187,1) 70%, rgba(43,29,26,1) 75%,rgba(187,187,187,1) 80%, rgba(43,29,26,1) 85%,rgba(187,187,187,1) 90%, rgba(43,29,26,1) 95%,rgba(187,187,187,1) 100%);
}
.white {
	background: #fff;
	border: 1px solid rgb(229,229,229);
}
.black {
background: #000;
}
.coolGrey {
 background: #9ea1a2;
}
.EstateBlue {
 background: #1c355e;
}
.pirateGrey {
 background: #636569;
}
.duskBlue {
 background: #7ba0c4;
}
.doubleCream {
 background: #f6dfa4;
}
.rallyBlue {
 background: #0069a7;
}
.yellowIris {
 background: #f3efa1;
}
.icebergGreen {
 background: #9baeab;
}
.blazingYellow {
 background: #fde021;
}
.greenDouble {
 background: #9dd4ca;
}
.blazingOrange {
 background: #ffad5f;
}
.limeGreen {
 background: #61a60e;
}
.vermillion {
 background: #ff5c35;
}
.greenGables {
 background: #163029;
}
.orchidPink {
 background: #fdbbcb;
}
.camel {
 background: #ad7f66;
}
.plumPurple {
 background: #60269e;
}
.brownStone {
 background: #5e3c32;
}
.cayenneRed {
 background: #f5333f;
}
.iridescentBlue {
	background: linear-gradient(320deg, rgba(0,0,196,1) 0%, rgba(151,24,196,1) 35%, rgba(55,110,179,1) 65%, rgba(0,0,196,1) 100%);;
}
.chinesesRed {
 background: #c10230;
}
.iridescentPink {
	background: linear-gradient(320deg, rgba(61,180,177,1) 0%, rgba(211,153,255,1) 28%, rgba(253,175,255,1) 50%, rgba(211,153,255,1) 75%, rgba(61,180,177,1) 100%);
}
.fluoYellow {
 background: #ffe800;
}
.fluoPink {
 background: #ff40b4;
}
.copperFoil {
	background: linear-gradient(320deg, rgba(43, 29, 26, 1) 0%, rgba(255,141,0,1) 50%, rgba(184,115,51,1) 75%, rgba(68,55,12,1) 100%);
}
.goldFoil {
	background: linear-gradient(320deg, rgba(43, 29, 26, 1) 0%, rgba(255,252,0,1) 50%, rgba(212,175,55,1) 75%, rgba(68,55,12,1) 100%);
}
.silverFoil {
	background: linear-gradient(320deg, rgba(45,45,45,1) 0%, rgba(255,255,255,1) 50%, rgba(192,192,192,1) 75%, rgba(5,5,5,1) 100%);
}

.colorList {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 30%;
	height: 45%;
}

.colorP {
	width: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}